*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to left,rgb(227, 202, 14),rgb(240, 47, 208));
    height: 100vh;
}
.h1{
    margin:auto;
    text-align: center;
    position: relative;
    top: -27px;
}
